body{
	background-color: #d4cdb9;

}
.navWidget{
	background-color: #baab91;
}
.messageWidget{
	background-color: #e8e8ed;
	height:180px;
	overflow: scroll;
}
.inputWidget{
	background-color: #bfbbb9;
	padding: 5px;
}
.inputWidget textarea{
	max-height: 65px;
}
#container{
	margin: auto;
	max-width: 960px;
}
